﻿@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>


<!DOCTYPE html>
<html>
<head>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script>
		$(document).ready(function () {
			GetUserDetail();
		});

		function GetUserDetail() {
			$.ajax({
				type: 'GET',
				url: '/Profile/Detail',
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				success: function (response) {

					var rowData = "";
					
					rowData =
						'<tr><td>' + response.userId +
						'</td><td>' + response.firstName +
						'</td><td>' + response.lastName +
						'</td></tr>';

					$("#table").append(rowData);
				}
			});
		}
	</script>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>UserId</th>
				<th>FirstName</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody id="table"></tbody>
	</table>
	<div id="paged" class="navigator-btn">
	</div>
</body>
</html>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
