﻿@model Login.Models.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>
</head>
<body>
    <h2>User</h2>
    <h4>Login</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (TempData["UserLoginFailed"] != null)
            {
                <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>
            }

            <form id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input  asp-for="UserId" value="user" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" value="Baka" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="btnLogin" type="submit" class="btn btn-default btn-success" />
                    <a asp-action="Register" class="btn btn-info">SignUp</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {

			$("#btnLogin").click(function (e) {

                e.preventDefault();
							
                var user = new inputModel();

				var newUrl= '@Url.Action("Index","Home")';

                if (user != null) { 
                    $.ajax({
                        type: "POST",
						url: "/Account/Login",//?UserId=" + user.UserId + "&Password="+user.Password,
                        dataType: "json",
						contentType: "application/json",
						data: JSON.stringify(user),
                        success: function (response) {
                            if (response.success)
                                window.location.href = newUrl;
                            else
                                alert(response.responseText);
						 }
						
                    });
                }            
            });
		});

        function inputModel() {
			var user = this;
		
			user.UserId = $("#UserId").val();
			user.Password = $("#Password").val();
        }        
    </script>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

